<div class="home-page">
    <div class="title-bar">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar ></div>
              <mat-card-title>{{ title }}</mat-card-title>
              <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
            </mat-card-header>      
        </mat-card>
    </div>
    <div class="butto-class">
        <button mat-raised-button class="butto-class" (click)="view =! view">
            ver productos
        </button>
        
        <button mat-raised-button class="butto-class" (click)="add =! add">
            Añadir productos
        </button>

        <button mat-raised-button class="butto-class" (click)="delete =! delete">
            Eliminar productos
        </button>
    </div>
    
    <div class="table-div" *ngIf="view">
        <app-product-list></app-product-list> 
    </div>

    <div class="table-div" *ngIf="add">
        <app-add-products></app-add-products> 
    </div>

    <div class="table-div" *ngIf="delete">
        <app-delete-products></app-delete-products> 
    </div>


    
    

</div>
